body {
    font-family: Arial Narrow, sans-serif;
    overflow: auto;
    color: #333;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 5rem;
    color: #222;
    text-shadow: 3px 3px #888888;
    margin-top: 5%;
}

.file-upload-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

@media print {
    .file-upload-form {
        display: none; 
    }
}

#contentContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    overflow-y: auto;
    margin-top: -10%;
    flex-grow: 10;
    width: calc(100% - 110px);
}

.content {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content img, .content iframe {
    max-width: 100%;
    border: none;
    height: auto;
}

.content p, .uploader {
    font-size: 1rem;
    margin: 5px 0 0 0;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.uploader {
    font-size: .8rem;
    font-style: italic;
    color: #666;
    font-weight: normal;
}

.pill-outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 5px;
    background-color: transparent;
}

.hotpink-text {
    color: hotpink;
    font-family: Arial Narrow, sans-serif;
    margin: 0;
}

.content .pill-outline {
    width: 100%;
}


#contributorsBox {
    flex: 1;
    border: 2px solid black;
    max-height: 80vh;
    overflow-y: auto;
    margin-right: 2%;
    font-size: 20px;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 3%;
}

#contributorsList {
    font-size: 16px;
}

.filter-section {
    background-color: #f7f7f7; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    float: right;  /* Position it to the right side */
}

#boochie {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

.year-container {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.year-label {
    flex: 0 0 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #EEE;
    margin-right: 20px;
    font-size: 30px;
}

.items-container {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    overflow-y: visible;
}

#tagButtonsContainer button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid hotpink;
    border-radius: 50px;
    padding: 5px;
    background-color: transparent;
    min-width: 100px;
    font-size: 20px;
}

#tagButtonsContainer button:hover {
    background-color: #e4e4e4;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detail-box {
    background-color: white;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}

.map {
    height: 400px; /* Adjust the height as needed */
  }